.input {
  width: 100%;
  height: var(--input-height);
  padding-inline: 25px;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius);
  transition: all var(--transition-duration);
  appearance: none;
}

.input::placeholder,
select.input:invalid {
  color: var(--color-light-gray);
}

.input:hover {
  border-color: var(--color-light);
}

.input:focus {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-wrapper.wide {
  grid-column: 1 / -1;
}

select.input {
  background: url('../../assets/icons/arrow-down-light.svg') right 25px center / 12px no-repeat;
  cursor: pointer;
}

select.input:focus {
  background-color: transparent;
  color: var(--color-light);
  border-color: var(--color-light);
}

select.input option {
  background-color: var(--color-dark-alternate);
  color: var(--color-light);
  padding: 10px;
}