.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--color-light);
  color: var(--color-dark);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

.button:hover {
  background-color: var(--color-light-gray);
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-left: 31px;
  padding-right: 80px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

.button.transparent::after {
  content: '';
  position: absolute;
  right: -1px; 
  top: -1px;
  height: calc(100% + 2px); 
  aspect-ratio: 1;
  background: url('../../assets/icons/arrow-top-right.svg') center/45% no-repeat;
  border: var(--border);
  border-radius: 50%;
  background-color: transparent;
  transition: filter var(--transition-duration), border-color var(--transition-duration), background-color var(--transition-duration);
}

.button.transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light);
}

.button.transparent:hover::after {
  filter: invert(1); 
  border-color: var(--color-dark);
}

.header-book-button {
  background-color: transparent;
  border: var(--border);
  color: var(--color-light);
}