.training-types {
  padding-top: 70px;
  padding-bottom: 120px;
  background-color: var(--color-dark);
}

.training-types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.training-types-item {
  --trainingTypesItemBgIconSize: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 32px;
  min-height: 250px;
  padding-top: var(--trainingTypesItemBgIconSize);
  background: url('../../assets/icons/transparent-arrow-bottom-left.svg') 100% 0 / var(--trainingTypesItemBgIconSize) no-repeat;
}

.training-types-item-title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-light);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.training-types-image {
  width: 150px;
  height: 140px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

@media (max-width: 1280px) {
  .training-types-list {
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 50px;
  }
}

@media (max-width: 767px) {
  .training-types {
    padding-bottom: 60px;
  }

  .training-types-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .training-types-item {
    min-height: 200px;
    row-gap: 15px;
    --trainingTypesItemBgIconSize: 50px;
  }

  .training-types-image {
    width: 100px;
    height: 100px;
  }
  
  .training-types-item-title {
    font-size: 14px;
  }
}

@media (min-width: 1800px) {
  .training-types {
    padding-top: 150px;
    padding-bottom: 200px;
  }

  .training-types-list {
    gap: 40px;
  }

  .training-types-item {
    position: relative;
    background: none;
    min-height: 350px;
    row-gap: 40px;
    padding-top: 0;
  }

  .training-types-item::after {
    content: '';
    position: absolute;
    top: -30px;
    right: -30px;
    width: 100px;
    height: 100px;
    background: url('../../assets/icons/transparent-arrow-bottom-left.svg') center/contain no-repeat;
  }

  .training-types-image {
    width: 200px;
    height: 200px;
  }

  .training-types-item-title {
    font-size: 24px;
    letter-spacing: 2px;
    white-space: nowrap;
  }
}