.training-types {
  padding-top: 70px;
  padding-bottom: 120px;
  background-color: var(--color-dark);
}

.training-types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.training-types-item {
  --trainingTypesItemBgIconSize: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 32px;
  min-height: 250px;
  padding-top: var(--trainingTypesItemBgIconSize);
  background: url('../../assets/icons/transparent-arrow-bottom-left.svg') 100% 0 / var(--trainingTypesItemBgIconSize) no-repeat;
}

.training-types-item-title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-light);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.training-types-image {
  width: 150px;
  height: 140px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}