.motivation-item:nth-child(even) {
  background-color: var(--color-dark-alternate);
}

.motivation-item:nth-child(even) .motivation-card {
  flex-direction: row-reverse;
}

.motivation-card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 10.42vw, 200px);
}

.motivation-card-image {
  display: block;
  height: auto;
  margin-top: -60px; 
}

.motivation-item:first-child .motivation-card-image {
  margin-bottom: -60px; 
}

.motivation-item:last-child .motivation-card-image {
  margin-bottom: 0; 
}

.motivation-card-body {
  padding-left: 35px;
}

.motivation-card-title:not(:last-child) { 
  margin-bottom: 14px;
}

.motivation-card-description { 
  max-width: 400px;
}

.motivation-card-description:not(:last-child) { 
  margin-bottom: 37px;
}