.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px);
}

.section-description {
  font-size: 20px;
  line-height: 1.65;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}