.footer {
  --footerLogoWidth: 20.77%;
  background-color: var(--color-dark);
}

.footer-main {
  padding-top: 140px;
  padding-bottom: 160px;
}

.footer-header {
  display: grid;
  grid-template-columns: var(--footerLogoWidth) auto;
  column-gap: 62px;
  align-items: center;
  margin-bottom: 60px;
}

.footer-body {
  display: grid;
  grid-template-columns: var(--footerLogoWidth) repeat(3, 1fr);
  column-gap: 62px;
}

.footer-column-title {
  font-size: clamp(18px, 1.15vw, 22px);
  color: var(--color-light);
  text-transform: uppercase;
  font-family: var(--font-family-accent);
  margin-bottom: 30px;
}

.footer-description {
  text-align: left;
  color: var(--color-light);
}

.footer-description a {
  color: inherit;
  text-decoration: none;
  transition: color var(--transition-duration);
}

.footer-description a:hover {
  color: var(--color-light-gray);
}

.footer-column-title.has-arrow-diagonal::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  background: url('../../assets/icons/bold-arrow-down-right.svg') center/contain no-repeat;
  vertical-align: middle;
  transform: scaleX(-1);
}

.footer-about, .footer-schedule, .footer-address, .footer-contacts {
  color: var(--color-light-gray);
  font-size: 16px;
  line-height: 1.6;
  font-style: normal;
}

.footer-contacts a {
  color: inherit;
  text-decoration: none;
  transition: color var(--transition-duration);
}

.footer-contacts a:hover {
  color: var(--color-light);
}

.footer-subscribe {
  position: relative;
  margin-bottom: 35px;
}

.footer-subscribe-input input {
  padding-right: 60px;
}

.footer-subscribe-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 100%;
  aspect-ratio: 1;
  background: url('../../assets/icons/arrow-top-right.svg') center/45% no-repeat;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.footer-subscribe-button:hover {
  background-color: var(--color-light-gray);
}

.footer-socials {
  display: flex;
  gap: 22px;
}

.social-link {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: var(--color-light);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.social-link:nth-child(1) { mask-image: url('../../assets/icons/tiktok.svg'); }
.social-link:nth-child(2) { mask-image: url('../../assets/icons/youtube.svg'); }
.social-link:nth-child(3) { mask-image: url('../../assets/icons/instagram.svg'); }
.social-link:nth-child(4) { mask-image: url('../../assets/icons/facebook.svg'); }
.social-link:nth-child(5) { mask-image: url('../../assets/icons/twitter.svg'); }

.social-link:hover {
  background-color: var(--color-light-gray);
}

.footer-extra {
  padding-block: 15px;
  background-color: var(--color-dark-alternate);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-copyright {
  font-size: 14px;
  color: var(--color-light-gray);
  text-align: left;
}

.footer-copyright a {
  color: var(--color-light);
  text-decoration: underline;
}

.footer-extra-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0;
}

.footer-author {
  text-align: right;
  font-size: 14px;
  color: var(--color-light-gray);
}

.author-name {
  color: var(--color-light);
  font-weight: 700;
  margin-bottom: 2px;
}

.author-links a {
  color: var(--color-light-gray);
  text-decoration: none;
  transition: color var(--transition-duration);
}

.author-links a:hover {
  color: var(--color-light);
}

.author-links .separator {
  margin-inline: 8px;
  color: var(--color-dark-gray);
}