.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

svg *[fill] { fill: currentColor; }
svg *[stroke] { stroke: currentColor; }

a {
  color: inherit;
  text-decoration: none;
  transition: color var(--transition-duration);
}

a:hover {
  color: var(--color-light-gray);
}