*, *::before, *::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
  list-style: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100%;
  line-height: 1.75;
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  color: var(--color-light-gray);
  background-color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input, textarea, select, button {
  font: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
  margin: 0;
}

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px);
}

.section-description {
  font-size: 20px;
  line-height: 1.65;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}