.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.location-map-image {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.location-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 15px;
  text-align: center;
}